@font-face {
  font-family: 'Poetsen One';
  src: url('assets/fonts/poetsen.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Poetsen One', sans-serif;
}

header.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 75vw;
  height: 65px;
}
img{
  height: 65px;
}
.img-logo{
  height:inherit;
}
footer{
  width: 75vw;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  padding: 20px;
}
a{
  color: #DAAF3E;
  cursor: pointer;
}
main{
  display: block;
  background-image: url(../img/background.svg);
  background-size: 100vw;
  background-repeat: no-repeat;
  width: 100vw;
  height: calc(100vh - 65px - 200px);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.main-content{
  padding: 20px;
  margin: 0 auto;
  width: 75vw;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../img/getstaroffers-logo.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.text-highlight{
    color: #daaf3e;
    font-weight: bold;
}